#StatsContainer{
    width: 100%;
    min-height: calc(100vh - 55px);
    display: flex;
    align-items: center;
    flex-direction: column;
    h1{
        margin: 0.5em;
        font-size: 3em;
        text-transform: uppercase;
    }
    .pieWrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin: 1em;
        width: 90vw;

        #anyPie{
            height: 24em;
            width: 24em;
        }

        .daysContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            overflow: auto;
            height: 24em;
            margin-bottom: 1em;
            background: #f9f9f9;
            flex: 1;

            h1{
                width: 100%;
                padding-left: 0.5em;
            }

            .day{
                margin: 1em;
                height: 10em;
                width: 10em;
                border: 2px solid #00A8CC;
                background: white;
                border-radius: 1em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                span{
                    font-size: 1.6em;
                    font-weight: 600;
                }
            }
            .day:hover{
                background: #00A8CC;
                span{
                    color: white;
                }
            }
        }

    }

    #anyArea{
        width: 90vw;
        height: 20em;
        margin: 1em;

        .action-voronoi{
            stroke-width: 6;
        }
    }
}

