#footer{
    display: flex;
    flex-wrap: wrap;
    min-height: 10em;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    background: #333333;
    
    .footerContent{
        flex: 1;
        margin: 5%;
        h3{
            color: #f9f9f9;
        }
        p{
            color: #f9f9f9;
        }

        a{
            color: #f9f9f9;
            font-weight: 600;
        }
        a:hover{
            opacity: 90%;
        }
    }
}


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 556px){
    #footer{
        flex-direction: column;
        .footerContent{
            width: 90%;
            margin: 5%;
            height: 5em;
        }
    }
}

@media only screen 
and (min-device-height: 320px) 
and (max-device-height: 556px){

}