#header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
    .containerText{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            color: #333333;
            font-size: 3em;
            font-style: italic;
            font-weight: 600;
        }
    }
            svg{
                margin: 0 1em;
                height: 10em;
                width: 10em;
            }
    }

    hr{
        width: 80%;
        margin: auto;
    }

.content{
    background: #f6f8f8;
    box-shadow: 0px -0.09em 0.3em rgba(0, 0, 0, 0.6); 
    .container{
        margin: auto;
        width: 70%; 
        padding: 4em 15%;
        display: flex;

        .textContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            h2{
                text-transform: uppercase;
                color: #00a8cc;
                align-self: flex-start;
                font-size: 2em;
                margin: 0.5em 0;
            }
            p{
                padding-right: 1em;
                font-size: 1.3em;
                text-align: justify;
            }
        }
        button{
            cursor: pointer;
            padding: 0.4em 0.6em;
            margin-top: 2.5em;
            height: 2.2em;
            font-weight: 500;
            width: 8em;
            font-size: 1.5em;
            border: 1px solid transparent;
            background: #00a8cc;
            color: #f9f9f9;
            border: none;
            border-radius: 10px;
        }

        button:hover{
            background: white;
            color: #333333;
            font-weight: 600;
            border: 1px solid #00a8cc;
        }

        svg{
            width: 13em;
            height: 13em;
            margin: 0 2em;
        }
    }
}
